<h2>User info</h2>
  <td>image</td>
  <table ckass="table">
    <tbody>
      <tr></tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><% user.introduction %></td>
      </tr>
    </tbody>
  </table>
<div class="row">
  edit
</div>
