<%= render "user_info", user: @user %>
<%= render "books/new", book: @book %>

<h2>Books</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
</tanle>


<% end %>